:root {
    --center-block-width: 960px;
    --card-height: 50px; /* (minimum) */

    --panel-light-light: #f5f6f8;
    --panel-light: #eceff4;
    --panel-medium-light: #e5e9f0;
    --panel-medium: #d8dee9;
    --panel-medium-dark: #9aa5b9;
    --panel-dark: #4c566a; 
    --panel-dark-dark: #2e3440;
    --panel-accent: var(--panel-dark);

    --correct: #548827;
    --correct-dark: #335714;
    --incorrect: #e65b24;

    --life: #a01a1a;
    --achievement: #f7ac17;

    --backing: #6d2020;
    --backing-light:#c25454;
}

/* ============================================================================
General
============================================================================ */

body {
    font-family: 'Courier New', Courier, monospace;
    color: var(--panel-dark);
    background-color: var(--panel-light);
    margin: 0;
    background-image: url('/static/images/background.jpg');
    background-attachment: fixed; 
    background-size: cover;
    line-height: 130%;
}

a {
    text-decoration: none;
}

.header-block {
    margin: 16px auto 0 auto;
    background-color: var(--backing);
    color: white;
    border-radius: 8px;
    padding: 24px;
    max-width: calc(var(--center-block-width) - 24px * 2);
}

.title {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.title i {
    color: var(--backing-light);
}

.center-block {
    background-color: white;
    max-width: calc(var(--center-block-width) - 78px * 2); 
    padding: 78px;
    margin: 16px auto;
    border-radius: 8px;
}

.link-button {
    border-radius: 4px;
    background-color: var(--correct);
    color: var(--panel-light);
    text-decoration: none;
    padding: 6px 12px;
    font-weight: bold;
}

.link-button:hover {
    background-color: var(--correct-dark);
}

.link-button:active {
    background-color: var(--panel-dark-dark);
    color: var(--panel-light);
}

.correct {
    color: var(--correct);
}

.score {
    padding: 1px 16px;
    border-radius: 4px;
    color: var(--panel-light-light);
    background-color: var(--correct);
}

/* ============================================================================
Prompt
============================================================================ */

.prompt-block {
    margin-bottom: 100px;
}

.prompt-top-text {
    text-align: center;
}

.prompt-bottom-text {
    font-weight: bold;
    text-align: center;
}

.end-panel {
    border: 2px solid var(--panel-light);
    border-radius: 4px;
    background-color: var(--panel-light-light);
    margin-top: 60px;
    padding: 24px 32px;
}

.achievement-panel {
    background-color: var(--panel-medium-light);
    border-radius: 8px;
    padding: 12px;
    margin: 24px 0 24px 0;
    display: flex;
    align-items: center;
    text-align: center;
}

.achievement-panel img {
    flex: 20%;
    border-radius: 8px;
    object-fit: cover;
    height: 132px;
    margin-right: 8px;
}

.achievement-panel p {
    font-weight: normal;
    flex: 80%;
    padding: 8px;
    margin: 0;
}

.life-panel {
    margin-bottom: 28px;
    text-align: center;
    font-weight: bold;
    color: var(--life);
}

/* ============================================================================
Events
============================================================================ */

.panel-block-header {
    font-weight: bold;
    display: flex;
    max-width: 100%;
    padding: 8px;
    margin-bottom: 32px;
    border-bottom: 2px solid var(--panel-light-light);
}

.panel-block {
    display: flex;
    flex-direction: column;
}

.event-panel {
    display: flex;
    border-radius: 4px;
    background-color: var(--panel-light);
    border: 2px solid var(--panel-medium);
    margin: 4px;
    min-height: var(--card-height);
}

.event-panel-year {
    flex: 20%;
    display: flex;
    align-items: center;
}

.event-panel-description {
    flex: 80%;
    display: flex;
    align-items: center;
}

.event-panel-year p {
    width: 100%;
    background-color: var(--panel-accent);
    border-radius: 4px;
    padding: 8px;
    color: white;
    text-align: center;
    margin: 8px;
    font-size: 20px;
}

.event-panel-description p {
    margin: 8px;
    padding: 10px;
}

.placeholder-panel {
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    background-color: var(--panel-light);
    margin: 8px;
    transition: margin 0.5s, height 0.5s, opacity 0.5s, background-color 0.5s;
    height: 30px;
}

.placeholder-panel:hover {
    margin: 4px;
    cursor: pointer;
    background-color: var(--panel-medium);
    height: var(--card-height);
}

.placeholder-panel i {
    padding: 6px 0;
    transition: 0.5s;
    color: var(--panel-medium-dark);
}

.placeholder-panel:hover i {
    padding: 16px 0;
    color: var(--panel-dark);
}

.placeholder-panel:active {
    background-color: var(--panel-medium);
}

.placeholder-panel-gone {
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    pointer-events: none;
}

.placeholder-panel-incorrect {
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    background-color: var(--incorrect);
    color: white;
    margin: 8px;
    height: 30px;
}

.placeholder-panel-incorrect i {
    padding: 6px 0;
}

/* ============================================================================
Misc.
============================================================================ */

.mark {
    outline: 4px solid orange;
}

.grayed {
    color: var(--panel-medium);
}

.centered {
    text-align: center;
}

.align-left {
    margin-left: auto;
}

.small-text {
    font-size: 10pt;
    color: var(--panel-medium-dark);
}

.life {
    color: var(--life);
}