<!DOCTYPE html>
<html>
    <head>
        {# ICONS #}
        <script src="https://kit.fontawesome.com/49e791e245.js" crossorigin="anonymous"></script>

        {# CSS #}
        <link rel="stylesheet" href="static/css/style.css" />

        {# JavaScript #}
        <script src="static/js/cards.js"></script>
    </head>
    <body>
        time(on)line
        <hr>

        {% block content %}{% endblock content %}
    </html>
</html>