<!DOCTYPE html>
<html lang="en">
    <head>

        {# meta #}
        <meta charset="UTF-8">
        <title>Sequential</title>

        {# icons #}
        <script src="https://kit.fontawesome.com/49e791e245.js" crossorigin="anonymous"></script>

        {# CSS #}
        <link rel="stylesheet" href="static/css/main.css" />

        {# JavaScript #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="static/js/game.js"></script>
    </head>
    <body>
        <div class="header-block">
            <span class="title"><i class="fa fa-hourglass-half"></i> Sequential</span>
        </div>

        {% block content %}{% endblock content %}
    </body>
    <footer></footer>
</html>
