{% extends "_base" %}
{% block content %}


<div class="center-block index-panel">

    <div class="centered">
        <p>
            Pivotal moments in time have shaped civilisation as we know it today.
        </p>
        <p>
            <b>Can you place history in order?</b>
        </p>
        <br>
        <a class="link-button" href="/game">
            <i class="fa fa-play"></i> Start
        </a>
        <br><br>
    </div>

</div>


{% endblock content %}